{{ $object := .Object }}{{ $modelPkg := .Object | GetModelPackageName }}

type UnimplementedClient struct {}

func (c *UnimplementedClient) Search(ctx context.Context, query WhereClause, options QueryOptions) (QueryResult, error) {
    return QueryResult{}, errors.New("search is not implemented")
}

func (c *UnimplementedClient) Create(ctx context.Context, obj {{ $modelPkg }}.Model, projection {{ $modelPkg }}.Projection) ({{ .Object | GetModelPackageName }}.Model, error) {
    return {{ .Object | GetModelPackageName }}.Model{}, errors.New("create is not implemented")
}

func (c *UnimplementedClient) Update(ctx context.Context, obj {{ $modelPkg }}.Model, where {{ $modelPkg }}.WhereClause, projection {{ $modelPkg }}.Projection) ({{ .Object | GetModelPackageName }}.Model, error) {
    return {{ .Object | GetModelPackageName }}.Model{}, errors.New("update is not implemented")
}

func (c *UnimplementedClient) Delete(ctx context.Context, id string) error {
    return errors.New("delete is not implemented")
}

{{ if HasAggregation .Object }}
func (c *UnimplementedClient) Aggregate(ctx context.Context, query WhereClause, options AggregateOptions) (AggregateResult, error) {
    return AggregateResult{}, errors.New("aggregate is not implemented")
}
{{ end }}